# LOG VE GEÇİCİ DOSYALAR
*.log
logs/
*.tmp
*.bak*
*.swp
*.db
!*.sql

# FRONTEND (React, Vite, Node)
node_modules/
dist/
dist-ssr/
.vite/
.env
.env.*
.env.*.local

# BACKEND (.NET Core)
**/bin/
**/obj/
.vs/
appsettings.Development.json
appsettings.Production.json
*.suo
*.user
*.http

# EDITÖR VE SİSTEM DOSYALARI
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
desktop.ini

# ARŞİV DOSYALARI
*.zip
*.rar
*.7z

# Root'taki npm dosyalarını ignore et
/package.json
/package-lock.json

