USE Deneme;
GO

INSERT INTO Categories (Name) VALUES 
('Bilgisayar & Donanım'), 
('Ofis Malzemeleri');


SELECT * FROM Categories;

SELECT COLUMN_NAME, DATA_TYPE
FROM INFORMATION_SCHEMA.COLUMNS
WHERE TABLE_NAME = 'Product';

SELECT * FROM Product;

ALTER TABLE Product
ADD CONSTRAINT DF_Product_CriticalStockLevel DEFAULT 10 FOR CriticalStockLevel;

SELECT name
FROM sys.default_constraints
WHERE parent_object_id = OBJECT_ID('Product')
  AND parent_column_id = (
    SELECT column_id 
    FROM sys.columns 
    WHERE object_id = OBJECT_ID('Product') AND name = 'CriticalStockLevel'
);


UPDATE Product
SET CriticalStockLevel = 10
WHERE CriticalStockLevel = 0;

-- 1. Mevcut default constraint adını bul
SELECT name
FROM sys.default_constraints
WHERE parent_object_id = OBJECT_ID('Product')
  AND COL_NAME(parent_object_id, parent_column_id) = 'CreatedAt';


ALTER TABLE Product
ADD CONSTRAINT DF__Product_CreatedAt_Default
DEFAULT GETDATE() FOR CreatedAt;

INSERT INTO Product (Name, Quantity, CategoryId, Description)
VALUES ('Test Ürün', 5, 2, 'Bu bir test ürünüdür.');

SELECT * FROM Product
WHERE Name = 'Test Ürün';


SELECT * FROM Product
WHERE Name = 'Bantex A4 Defter';

SELECT * FROM DeletedProducts

ALTER TABLE Product DROP COLUMN Brand;

SELECT * FROM Brands

SELECT * FROM Categories

DELETE FROM Categories
WHERE CategoryId IN (12, 13);
